<form (ngSubmit)="addContact(addContactForm.value)" >
    <ol>
  
    <li>
      <div class="mb-3">
        <label for="inputFirstName">First name:</label>
        <input
          type="text"
          formControlName="firstName"
          required
          class="form-control"
        />
      </div>
  
    </li>
    <div class="mb-3">
      <label for="inputSurname">Surname:</label>
      <input
        type="text"
        formControlName="surname"
        required
        id="inputSurname"
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <label for="inputEmail">E-mail address:</label>
      <input
        type="email"
        formControlName="email"
        required
        id="inputEmail"
        class="form-control"
      />
    </div>
  </ol>
    <div class="mb-3">
      <button class="btn btn-primary"
          [disabled]="!addContactForm.valid">Add</button>
    </div>
  
  </form>
